<div *ngIf="cnx">✅ Connecté</div>
<div *ngIf="!cnx">
    <div class="compte">
        <div>
          <h2>Se connecter</h2>
          <label for="login">Login : </label><input [(ngModel)]="login" /><br />
          <label for="password">Mot de passe : </label
          ><input [(ngModel)]="password" type="password" /><br />
          <br />
          <button (click)="connexion()">Connexion</button>
        </div>
        <div>
          <h2>Créer un compte</h2>
          <label for="prenom">Prénom : </label><input [(ngModel)]="crPrenom" /><br />
          <label for="nom">Nom : </label><input [(ngModel)]="crNom" /><br />
          <label for="email">Email : </label><input [(ngModel)]="crEmail" /><br />
          <label for="login">Login : </label><input [(ngModel)]="crLogin" /><br />
          <label for="password">Mot de passe : </label
          ><input [(ngModel)]="crPassword" type="password" /><br />
          <br />
          <button (click)="creer()">Créer un compte</button>
        </div>
    </div>
</div>

<hr />

<app-header></app-header>
<router-outlet></router-outlet>
