<div class="tableContainer">
  <table>
    <thead>
      <tr>
        <th colspan="1">Reference</th>
        <th colspan="4">Name</th>
        <th colspan="1">Price</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of products">
        <td>
          {{ item.ref }}
        </td>
        <td colspan="4">
          {{ item.name }}
        </td>
        <td>
          {{ item.price }}€
        </td>
        <td>
          <button (click)="addProduct(item)">+</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
